@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 300;
    src         : local(''),
        url('fonts/noto-sans-jp-v28-latin-300.woff2') format('woff2'),
        url('fonts/noto-sans-jp-v28-latin-300.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 400;
    src         : local(''),
        url('fonts/noto-sans-jp-v28-latin-regular.woff2') format('woff2'),
        url('fonts/noto-sans-jp-v28-latin-regular.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 500;
    src         : local(''),
        url('fonts/noto-sans-jp-v28-latin-500.woff2') format('woff2'),
        url('fonts/noto-sans-jp-v28-latin-500.woff') format('woff');
}

html {
    width : 95%;
    margin: 0 auto;
}

body {
    width      : 84vw;
    margin     : 0 auto;
    font-family: "Noto Sans JP", Helvetica, sans-serif;
}

.title-name {
    text-transform : uppercase;
    color          : crimson;
    text-align     : center;
    text-decoration: underline;
}

.color-pallete {
    font-size      : larger;
    font-weight    : 600;
    margin         : 30px 0;
    width          : 100%;
    color          : crimson;
    text-align     : center;
    height         : 160px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.has-color-pallete {
    flex-flow: row nowrap;
}

.pallete-color-info {
    height          : 100%;
    width           : 100%;
    background-color: #777777;
    color           : white;
    font-size       : large;
}

.pallete-color {
    height     : 100%;
    flex-grow  : 1;
    flex-shrink: 1;
}

.pallete-color:hover {
    flex-grow: 2;
}

.pallete-color:first-child {
    border-top-left-radius   : 16px;
    border-bottom-left-radius: 16px;
}

.pallete-color:last-child {
    border-top-right-radius   : 16px;
    border-bottom-right-radius: 16px;
}

.color-option {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    align-items    : center;
    justify-content: space-around;
}

.color-number-change-button {
    background-color: coral;
    width           : 36px;
    height          : 36px;
    border          : none;
    border-radius   : 50%;
    font-size       : x-large;
    font-weight     : bolder;
}

.number-of-colors {
    padding    : 10px;
    font-size  : x-large;
    font-weight: bolder;
}

#generateColor {
    padding         : 0 10px;
    height          : 36px;
    border-radius   : 12px;
    font-size       : medium;
    background-color: coral;
    font-weight     : bolder;
    border          : none;
}

@media (min-width: 560px) {
    body {
        width: 80vw;
    }

    .color-pallete {
        height: 200px;
    }
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}