html {
    width         : 95%;
    margin        : 0 auto;
    /* display    : grid;
    place-items   : center; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-name {
    text-transform: uppercase;
    color         : crimson;
    text-align    : center;
    font-size     : xx-large;
}

.color-option {
    border         : 1px solid black;
    width          : 100%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;
    align-items    : center;
    justify-content: space-around;
}

.color-number-change-button {
    background-color: coral;
    width           : 36px;
    height          : 36px;
    border          : none;
    border-radius   : 50%;
    padding         : 10x;
    font-size       : x-large;
    font-weight     : bolder;
}