:root {
    --title-color-1   : #3fb0ac;
    --title-color-2   : #f57c00;
    --title-color-3   : #8e24aa;
    --title-color-4   : #558b2f;
    --title-color-5   : #d3002e;
    --title-color-6   : #3f51b5;
    --title-color-7   : #ff00dd;
    --number-of-colors: 5;
    --current-width   : calc(100% / var(--number-of-colors));
}

.text-color1 {
    color: var(--title-color-1);
}

.text-color2 {
    color: var(--title-color-2);
}

.text-color3 {
    color: var(--title-color-3);
}

.text-color4 {
    color: var(--title-color-4);
}

.text-color5 {
    color: var(--title-color-5);
}

.text-color6 {
    color: var(--title-color-6);
}

.text-color7 {
    color: var(--title-color-7);
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 300;
    src         : local(''),
        url('fonts/noto-sans-jp-v28-latin-300.woff2') format('woff2'),
        url('fonts/noto-sans-jp-v28-latin-300.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 400;
    src         : local(''),
        url('fonts/noto-sans-jp-v28-latin-regular.woff2') format('woff2'),
        url('fonts/noto-sans-jp-v28-latin-regular.woff') format('woff');
}

@font-face {
    font-family : 'Noto Sans JP';
    font-style  : normal;
    font-display: swap;
    font-weight : 500;
    src         : local(''),
        url('fonts/noto-sans-jp-v28-latin-500.woff2') format('woff2'),
        url('fonts/noto-sans-jp-v28-latin-500.woff') format('woff');
}

html {
    width : 90vw;
    margin: 0 auto;
}

body {
    width                      : 100%;
    margin                     : 0 auto;
    font-family                : "Noto Sans JP", Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout      : none;
    -webkit-user-select        : none;
    -moz-user-select           : none;
    user-select                : none;
}

#title {
    text-align: center;
}

#title span {
    padding       : 0px 4px;
    text-transform: uppercase;
}

.color-pallete {
    margin         : 5em 0;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}


.pallete-color {
    height         : 10em;
    display        : flex;
    flex-flow      : column nowrap;
    align-items    : center;
    justify-content: center;
    transition     : all 200ms cubic-bezier(.39, .58, .57, 1);
    width          : var(--current-width);
    cursor         : pointer;
}

.pallete-color:hover {
    width: calc(var(--current-width) + 10%);
}

.pallete-color:first-child {
    border-top-left-radius   : 16px;
    border-bottom-left-radius: 16px;
}

.pallete-color:last-child {
    border-top-right-radius   : 16px;
    border-bottom-right-radius: 16px;
}

.hex-code-span {
    text-align      : center;
    text-transform  : uppercase;
    background-color: #00000054;
    border-radius   : 1em;
    color           : #fff;
    font-size       : small;
    z-index         : 1;
    padding         : 4px 10px;
    opacity         : 0;
    transition      : all 300ms cubic-bezier(.89, -0.06, .47, 1.04);
}

.pallete-color:hover .hex-code-span {
    display: block;
    opacity: 1;

}

.options-container,
.action-container {
    width          : 100%;
    display        : flex;
    flex-flow      : row wrap;
    align-items    : center;
    justify-content: space-around;
}

.options-container div {
    width          : 40%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

button {
    background-color: purple;
    border          : none;
    height          : 44px;
    width           : 5em;
    border-radius   : 1em;
    font-size       : medium;
    font-weight     : bolder;
    color           : white;
    padding         : 0 10px;
    margin          : 10px 6px;
    white-space     : nowrap;
    cursor          : pointer;
    transition      : transform 100ms ease-out;
    outline         : none;
}

*:active {
    outline: none !important;
}

button:active {
    transform: scale(0.9);
}

.color-number-change-button {
    width        : 44px;
    border-radius: 50%;
    display      : grid;
    place-items  : center;
    font-size    : 2em;
}

.number-of-colors {
    margin     : 0 5px;
    font-size  : x-large;
    font-weight: bolder;
}


.generate-button-wrapper,
.scheme-copy-container {
    width: 40%;
}

#generateButton,
#copyPaletteButton {
    width : 100%;
    margin: 10px 0;
}



@media (min-width: 560px) {
    body {
        width: 80vw;
    }

    .pallete-color {
        height: 12em;
    }

    .hex-code-span {
        font-size: medium;
    }
}

@media (min-width: 800px) {
    body {
        width: 60vw;
    }
}